 <div class="hero">
    <picture>

  <source media="(min-width: 48em)"
          srcset="{{ Image(post.meta('desktop_hero')).src }}">
<img src="{{ Image(post.meta('mobile_hero')).src }}" alt="{{Image(post.meta('desktop_hero')).alt}}">

    </picture>
</div>