{# This file demonstrates using most of the index.twig template and modifying 
   just a small part. See `search.twig` for an example of another approach #}

{% extends "base.twig" %}
{% block content %}
	 <main class="content">
    <section class="portfolio">
        <div class="wrap container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-10 col-md-offset-1">
                {% if title %}<h1>{{title}}</h1>{% endif %}
            </div>
            <!-- /.col-sm-12 col-md-10 col-md-offset-1 -->
        </div>
        <!-- /.row -->
        {% for post in posts %}
          {% if loop.index0 % 2 == 0 %}
            <div class="row">
          {% endif %}
            <div class="col-xs-12 col-sm-6 col-md-5{% if loop.index0 % 2 == 0 %} col-md-offset-1{% endif %}">
             {% include ['tease-portfolio.twig', 'tease.twig'] with { teaser: true } %}
              </div>
            <!-- /.col-sm-6 col-md-5 -->

          {% if loop.index0 % 2 == 1 or loop.last %}
             </div><!-- /.row -->
          {% endif %}
        {% endfor %}
    
        </div> <!-- /wrap container-fluid -->
        </article>
    </main>

{% endblock %}
