{# This file demonstrates using most of the index.twig template and modifying 
   just a small part. See `search.twig` for an example of another approach #}

{% extends "index.twig" %}

{% block content %}
    <main class="content">
        <section class="blog-list">
            <div class="wrap container-fluid">
                <div class="row">
                    <div class="col-sm-12 col-md-10 col-md-offset-1">
                        <h1 class="text-center-heading">Blog</hh1>
                    </div>
                    <!-- /.col-sm-12 col-md-10 col-md-offset-1 -->
                </div>
                <!-- /.row -->
            </div>

            <ul class="blog-items">
                {% for post in posts %}
                    <li>
                        {% include ['tease-post.twig', 'tease.twig'] with { teaser: true } %}
                    </li>
                {% endfor %}
            </ul>

        </section>
    </main>

{% endblock %}
