{# This file demonstrates using most of the index.twig template and modifying 
   just a small part. See `search.twig` for an example of another approach #}

{% extends "index.twig" %}

{% block content %}
	 <main class="content">
    <section class="blog-list">
        <div class="wrap container-fluid">
         <div class="row">
            <div class="col-sm-12 col-md-10 col-md-offset-1">
                 <h1>This is my archive</hh1>
            </div>
            <!-- /.col-sm-12 col-md-10 col-md-offset-1 -->
        </div>
        <!-- /.row -->
        
  {{ parent() }}
		
		</div>
	</section>
	</main>
 
{% endblock %}
