{# This file demonstrates using most of the index.twig template and modifying 
   just a small part. See `search.twig` for an example of another approach #}

{% extends "index.twig" %}

{% block content %}
    <main class="content">
        <section class="blog-list">
            <div class="wrap container-fluid">
                <div class="row">
                    <div class="col-sm-12 col-md-10 col-md-offset-1">
                        <h1 class="text-center-heading">Blog</h1>
                    </div>
                </div>

                <div class="row" style="margin-top: 2rem;">
                    <div class="col-sm-12">
                        <ul class="blog-items">
                            <li class="widget-grid-item">
                                {% include 'partial/micro-feed-widget.twig' %}
                            </li>
                            {% for post in posts %}
                                <li>
                                    {% include ['tease-post.twig', 'tease.twig'] with { teaser: true } %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

        </section>
    </main>

{% endblock %}
