<footer>
    <div class="container-fluid wrap">
    <div class="row middle-xs">
        <div class="col-xs-4 left">
            <p>&copy; 2017&nbsp;-&nbsp;{{"now"|date('Y')}} Neil Ross.</p>
        </div>
        <!-- /.col-sm-4 left -->
        <div class="col-xs-4 col-xs-offset-4 right">
            <div class="credits">
                Photo by <a href="http://www.kitsch-studio.com/">Kitsch</a>

            </div>
        </div>
        <!-- /.col-sm-4 col-offset-4 right -->
        </div>
    </div>
    <!-- /.container-fluid wrap -->
</footer>