{% extends "base.twig" %}

{% block pre_nav %}
{% include 'partial/intro.twig' %}
{% endblock %}
{% block content %}
<section class="masthead">

<picture>

  <source media="(min-width: 48em)"
          srcset="{{ theme.link }}/images/portrait.jpg">

  <img src="{{ theme.link }}/images/portrait-mobile.jpg"
      alt="">

</picture>

<div class="holder">
     <a id="who" href="#about" class="button who">Who?</a>     
</div>

<div class="socials">
  <ul class="row between-xs">
    <li class="col-xs"><a class="twit" href="https://twitter.com/MendTheFrontend">Twitter</a></li>
    <li class="col-xs"><a class="ghub" href="https://github.com/NeilWkz">Github</a></li>
    <li class="col-xs"><a class="codepen" href="http://codepen.io/NeilWkz/">Codepen</a></li>
    <li class="col-xs"><a class="stack-overflow" href="http://stackoverflow.com/users/2970095/neilwkz">Stack Overflow</a></li>
  </ul>
</div>  
        

</section>

<main class="with-mast content">
    <div class="wrap container-fluid">
        <div class="row">
            <div class="col-sm-6 col-md-6">
            <h2 id="about" class="like-h3 anim-me">About <span class="trail">Me</span></h2>
            <p><em>Hi, I'm Neil Ross</em>
            I'm a London Based Frontend Developer with 11 years industry experience, I'm obsessed with CSS, and using it to create beautiful web experiences on any screen you can imagine.</p>
            <p>I love challenging designs, and working to create unique performant interfaces that serve my client's user needs.</p>
            <p><em>Want to know more?</em><br /> Get in touch via the contact form.</p>



            </div>
            <!-- /.col-xs-8 -->
            <div class="col-xs-12 col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-1">
                <form id="contact-form" action="https://formspree.io/neilross.wkzdesign@gmail.com"
      method="POST" novalidate>
      <h3 id="contact" class="contact-head anim-me">Contact <span class="trail">Me</span></h3>
                    <div class="row ">
                        <div class="col-xs-12 col-sm-6">
                        <div class="form-wrap">
                            <input class="floatlabel input_label" minlength="2"  name="name" type="text" required>
                            <label class="contact_label" for="name">Name</label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                        <div class="form-wrap">
                            <input class="floatlabel input_label" type="email" name="email" required>
                            <label class="contact_label" for="email">Email</label>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-xs-12">
                        <div class="form-wrap textarea-wrap">
                            <textarea class="floatlabel input_label" name="message" id="" minlength="2" required></textarea>
                            <label class="contact_label" for="message">Message</label>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-xs-12">
                        <div class="form-wrap submit-wrap">
                        <button class="button form-submit" type="submit">Send</button>
                       
                        </div>
                    </div>
                    </div>
                    <input type="text" name="_gotcha" style="display:none" />
                    </form>
            </div>
            <!-- /.col-xs-4 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.wrap container-fluid -->
</main>
 <section id="cookies">
 <div class="container-fluid wrap">
     <div class="row">
         <div class="col-sm-6 col-xs-12">
             <h3>Cookies?</h3>
         <p> If you want, I'll give you a cookie, and then you won't have to see my animated intro again.</p>
         </div>
         <div class="col-xs-6 col-sm-2 col-sm-offset-1">
         <a href="#" id="yes-cookie" class="button"><span class="top-line">Yes</span> never again</a>
         </div>
         <div class="col-xs-6 col-sm-2 col-sm-offset-1">
           <a href="" class="button" id="no-cookie"><span class="top-line">No</span> I LIKE that intro</a>
         </div>
     </div>
 </div>
     
     
     
 </section>
{% endblock %}