{% extends "base.twig" %}

{% block pre_nav %}
{% include 'partial/intro.twig' %}
{% endblock %}
{% block content %}
<section class="masthead">

<picture>
  <source srcset="{{ post.thumbnail.src|towebp }}" type="image/webp">

  <source media="(min-width: 48em)"
          srcset="{{ theme.link }}/images/portrait.jpg">
          <img src="{{ post.thumbnail.src|resize(634, 376) }}" width="634" height="376" alt="{{post.title}}" width="634" height="376" />

</picture>

<div class="holder">
     <a id="who" href="#about" class="button who">Who?</a>     
</div>

<div class="socials">
  <ul class="row between-xs">
    <li class="col-xs"><a class="twit" href="https://twitter.com/MendTheFrontend">Twitter</a></li>
    <li class="col-xs"><a class="ghub" href="https://github.com/NeilWkz">Github</a></li>
    <li class="col-xs"><a class="codepen" href="http://codepen.io/NeilWkz/">Codepen</a></li>
    <li class="col-xs"><a class="stack-overflow" href="http://stackoverflow.com/users/2970095/neilwkz">Stack Overflow</a></li>
  </ul>
</div>  
        

</section>

<main class="with-mast content">
   
</main>
 <section id="cookies">
 <div class="container-fluid wrap">
     <div class="row">
         <div class="col-sm-6 col-xs-12">
             <h3>Cookies?</h3>
         <p> If you want, I'll give you a cookie, and then you won't have to see my animated intro again.</p>
         </div>
         <div class="col-xs-6 col-sm-2 col-sm-offset-1">
         <a href="#" id="yes-cookie" class="button"><span class="top-line">Yes</span> never again</a>
         </div>
         <div class="col-xs-6 col-sm-2 col-sm-offset-1">
           <a href="" class="button" id="no-cookie"><span class="top-line">No</span> I LIKE that intro</a>
         </div>
     </div>
 </div>
     
     
     
 </section>
{% endblock %}