{% extends "base.twig" %}


{% block content %}

    <main class="content">
    <article>
        <div class="wrap container-fluid">
        <div class="row cv-head">
            <div class="col-sm-6 col-md-5 col-md-offset-1">
                <h1>Curriculum Vitae</h1>
            </div>
            <!-- /.col-sm-4 -->
            <div class="col-sm-6 print">
                <a class="button print-btn" href="javascript:window.print()">Print This Page</a>
            </div>
            <div class="col-sm-6 cv-deets">
                <div class="row">
                    <div class="col-sm-6 cv-cell">
                        <p>Neil Ross</p>
                    </div>
                    <div class="col-sm-6 cv-cell">
                        <p>www.neilross.dev</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 cv-cell">
                        <p><span class="dummy">Hooja</span>3<span class="dummy">sdakljsadl29</span>5/<span class="dummy">Boo</span>47 Gain<span class="dummy">dfsf54dsf</span>sford<span class="dummy">Josta</span> Ro<span class="dummy">5a4ds65</span>ad<span class="dummy">doo doo</span></p>
                    </div>
                    <div class="col-sm-6 cv-cell">
                        <p><span class="dummy">)*(*)&KFH</span>(44)<span class="dummy">1dsf6vds12v</span> 7919<span class="dummy">dfsf4546d5s3</span> 354<span class="dummy">32234tegfsdf3</span> 716<span class="dummy">3544rwe6rtf</span></p>
                    </div>
                </div> <!-- /row -->
                <div class="row">
                    <div class="col-sm-8 cv-cell cv-btm">
                        <p>London</p>
                    </div>
                    <!-- /.col-sm-8 -->
                    <div class="col-sm-2 cv-cell"><p><span class="dummy">dfs416vsd</span>E<span class="dummy">234q4fsd3</span>1<span class="dummy">vdsvsd254</span>7</p><span class="dummy">fassaf5</span></div>
                    <!-- /.col-sm-2 -->
                    <div class="col-sm-2 cv-cell"><p>6ZL</p></div>
                    <!-- /.col-sm-2 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.col-sm-7 -->
        </div>
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-6 col-md-offset-1 ">
                <div class="cv-col cv-left">
                    
               
                    <h3 class="col-header">Employment</h3>
                     <div class="job">
                        <h4 class="timeframe">January 2017 - Present Day</h4>
                        <h5 class="title">Frontend Developer</h5>
                        <p class="employer"><a href="https://www.ayima.com">Ayima</a></p>
                       <p> As a Frontend Developer I produced eCommerce sites, SEO focused content marketing micro-sites, PPC Landing pages and interactive blog posts for various clients in collaboration with the creative team. I led the development of two Shopify Custom Built Ecommerce stores, liaising directly with clients from pitch through production to delivery and on-boarding. In addition to the production of new web assets  I also actively maintained and extended a number of Client sites, built with Magento, Shopify and Wordpress. As part of the agency development team I maintained and developed the agency website. I personally revamped the blog and led a complete performance audit of site, and a review of our Frontend standards to place Web Performance at the heart of our Agency practice. I developed custom Wordpress plugins to extend the site's functionality. I personally designed in-browser and then developed the Company's careers page, and it's intergration with our recruitment system. I also led the development of numerous sections, liasing with other stakeholders from the agencies other channels (SEO, PPC, Paid Social, Analytics). As part of ongoing marketing campaigns we also produced custom sites to promote our Industry Meet-ups and specialist training courses in London, Vancouver and San Francisco.</p>
                    </div>
                    <div class="job">
                        <h4 class="timeframe">May 2014 - December 2016</h4>
                        <h5 class="title">Frontend Developer</h5>
                        <p class="employer"><a href="http://www.vgd.uk.com">VGD</a></p>
                        <p>I worked as the agency's primary frontend developer. VGD produce marketing sites, online booking systems and CRMs. I worked between Designers, Backend Developers &amp; clients to deliver responsive websites and applications, and supported Junior Developers in the delivery of their projects.</p>


                    </div>
                    <div class="job">
                        <h4 class="timeframe">April 2013 – May 2014</h4>
                        <h5 class="title">Front-End Developer</h5>
                        <p class="employer"><a href="https://tourismmarketing.agency/">Dojo Design Studio (now Tourism Marketing Agency)</a></p>
                        <p>Working with the studio's Design directors I was responsible for the HTML/CSS &amp; Javascript development of a number of web projects. The agency specialised in using Concrete5 to produce brochure quality marketing sites.</p>
                    </div>
                    <div class="job">
                        <h4 class="timeframe">October 2010 - April 2013</h4>
                        <h5 class="title">Freelance Web Developer/Designer</h5>
                        <p class="employer"><a href="/legacy">www.wkzdesign.co.uk/legacy</a></p>
                        <p>I designed &amp; developed a number of freelance projects, most have now completed their lifecycle, to get an idea of my work please browse my legacy freelance <a href="http://www.wkzdesign.co.uk/legacy">portfolio site</a>. I provided day-to-day support and development for
                            a wide range of clients &amp; also did frontend on a number of white label projects on contract for web agencies.</p>
                    </div>
                    <div class="job">
                        <h4 class="timeframe">October 2006 – October 2007</h4>
                        <h5 class="title">Web Admistrator</h5>
                        <p class="employer"><a href="http://sinewavedesign.com/">Sinewave Design</a></p>
                        <p>Sinewave Design produced music industry websites for high profile artists. My duties included assisting in building out new site designs in HTML and Flash, Photoshopping Images for use on existing sites and coding promotional emails.</p>

                    </div>

                     </div>
                <!-- /.cv-col -->


                </div>
                <!-- /.col-sm-7 -->
                <div class=" col-sm-4 col-md-4 col-md-offset-1 first-xs last-sm col-xs-12">
                <div class="cv-col cv-right">
                    <h3 class="col-header">Professional Skills</h3>
                    <h4 class="top">Technologies</h4>
                    <ul>
                        <li>CSS (preprocessed with SASS or LESS)</li>
                        <li>Javascript</li>
                        <li>HTML</li>
                        <li>Twig</li>
                        <li>Liquid</li>
                        <li>PHP (templating)</li>
                        <li>Responsive HTML Email</li>
                        <li>Adobe Creative Suite</li>
                        <li>Sketch</li>
                        <li>Git</li>
                        <li>Vagrant</li>
                        <li>Docker</li>

                    </ul>
                    <h4>I've delivered with:</h4>
                    <ul>
                        <li>Bootstrap</li>
                        <li>Foundation</li>
                        <li>Wordpress</li>
                        <li>Shopify</li>
                        <li>Ionic</li>
                        <li>Symfony</li>
                        <li>Opencart</li>
                        <li>Concrete5</li>
                        <li>Zend2</li>
                        <li>Angular</li>
                        <li>Handlebars</li>
                    </ul>
                    </div>
                <!-- /.cv-col -->
                </div>
                <!-- /.col-sm-5 -->
            </div>
        </div>
        <!-- /.wrap container-fluid -->
        </article>
    </main>
{% endblock %}