{% extends "tease.twig" %}

{% block content %}
    {% if post.thumbnail.src %}
        <img class="post-thumbnail" loading="lazy" src="{{post.thumbnail.src}}"/>
    {% endif %}
    <div class="card-body">
        <h2 class="h2">
            <a href="{{post.link}}">{{post.title}}</a>
        </h2>
        <p>{{post.preview.length(25)}}</p>

    </div>


{% endblock %}
