.blog-post {
    p {
        font-size: 1.2em;
    }
    .wrap {
        background: #fff;
        box-shadow: 0 1rem 3rem rgba(182,182,182,.175);
        color: #000;
        a {
            color: $print-grey;
        }
    }
}

.blog-hero-strap {
    position: absolute;
    bottom: 2rem;
    padding:0 2rem;
    z-index: 2;
}