.form-wrap {
    position: relative;
    background: #fff
}

.contact_label {
    font-weight: 300;
    margin-top: 5px;
    pointer-events: none;
    text-transform: uppercase
}

input.input_label,
input.input_label:focus {
    width: 100%;
    border: 1px solid #CCC;
}

textarea.floatlabel {
    resize: none;
    padding-right: 100px;
    height: 10em;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    background: none;
    display: block;
    padding: 16px 50px 16px 8px;
    font-size: 14px;
    width: 100%;
    margin-bottom: 2rem;
     @media only screen and (min-width: 48em) {
        margin-bottom: 8px;
     }
    color:  #b6b6b6;
    font-size: 16px;
    font-weight: 300;
    z-index: 2;

@media only screen and (min-width: 48em) {
    padding: 8px 50px 8px 8px;
}
    &:focus,
    &:hover {
        outline: none;
        label {
            cursor: text;
        }
    }
} // inputs
select {
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
}


label {
    position: absolute;
        left: 8px;
    top: 6px;
    color: #999;
    font-size: 16px;
    display: inline-block;
    padding: 6px;
    font-weight: 400;
    background-color: rgba(255, 255, 255, 0);
   
   @media only screen and (min-width: 48em) {
    left: 4px;
    top: -3px;
}
    z-index: 0;
    width: auto;
    box-sizing: border-box;
    height: 35px;
}

label.active {
    right: 0;
    left: auto;
    background: #b6b6b6;
   
    color: #fff;
    padding: 8px 8px 10px;
    top: -5px;
    width: auto;
    height: 35px;
    transition: none;
}

label.has-content {
    right:0;
    left: auto;
    color: #b6b6b6;
    background: transparent;
    padding: 6px;
   top: -3px;
    width: auto;
}

label.error {
        position: absolute;
    background: rgba(231, 76, 60, 0.7);
    bottom: 100%;
    color: white;
    right: 0;
    border-radius: 0;
    padding: 6px 6px 0 6px;
    height: 26px;
    font-size: 13px;
    
    left: auto;
    top: auto;
}
.textarea-wrap {
    label.error {
        bottom: 0;
        width: 100px;
        height: auto;
        padding: 6px;
    }
}

